body {
	text-align: center;
}
#container {
	/* max height and width is 480px */
	/* grid template values are adjusted in app.js */
	display: grid;
	grid-template-rows: repeat(8, 60px);
	grid-template-columns: repeat(8, 60px);
	max-width: 480px;
	max-height: 480px;
	margin: auto;
	width: 100%;
	border: 5px solid blue;
	border-radius: 5px;
}

#container > div {
	border-right: 0.01px solid #333030;
	border-bottom: 0.01px solid #333030;
}

button:hover {
	cursor: pointer;
}